src/main/app/implementation/aggregation-data-lookup-db-sequential.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">

	<flow name="data-lookup-db-sequential-flow">
		<db:select config-ref="mysqlConfigurationDB1" doc:name="Get Orders from Database 1">
			<db:parameterized-query><![CDATA[SELECT * FROM Orders]]></db:parameterized-query>
		</db:select>
		<dw:transform-message doc:name="Lookup Order Details and Build Response">
			<dw:input-payload mimeType="application/java" />
			<dw:set-payload resource="classpath:dataweave/build-lookup-order-details-db-response.dwl" />
		</dw:transform-message>
	</flow>
	<flow name="order-details-db-lookup-flow">
		<db:select config-ref="mysqlConfigurationDB1" doc:name="Get Order Details from Database 1">
			<db:parameterized-query><![CDATA[SELECT * FROM Order_Details WHERE order_id = #[payload.orderId]]]></db:parameterized-query>
		</db:select>
	</flow>

</mule>
