src/main/app/implementation/aggregation-data-normalization.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">

	<flow name="data-normalization-aggregation-flow">
		<enricher doc:name="Store DB1 Orders" target="#[flowVars.db1response]">
			<processor-chain doc:name="Processor Chain">
				<db:select config-ref="mysqlConfigurationDB1" doc:name="Get Orders from Database 1">
					<db:parameterized-query><![CDATA[SELECT * FROM Orders]]></db:parameterized-query>
				</db:select>
				<dw:transform-message doc:name="Normalize Orders DB1">
					<dw:input-payload mimeType="application/java" />
					<dw:set-payload resource="classpath:dataweave/normalize-orders-db1.dwl" />
				</dw:transform-message>
			</processor-chain>
		</enricher>

		<enricher doc:name="Store DB2 Orders" target="#[flowVars.db2response]">
			<processor-chain doc:name="Processor Chain">
				<db:select config-ref="mysqlConfigurationDB2" doc:name="Get Orders from Database 2">
					<db:parameterized-query><![CDATA[SELECT * FROM Orders]]></db:parameterized-query>
				</db:select>
				<dw:transform-message doc:name="Normalize Orders DB2">
					<dw:input-payload mimeType="application/java" />
					<dw:set-payload resource="classpath:dataweave/normalize-orders-db2.dwl" />
				</dw:transform-message>
			</processor-chain>
		</enricher>

		<dw:transform-message doc:name="Aggregate Orders Database 1 + Database 2">
			<dw:input-payload mimeType="application/java" />
			<dw:set-payload resource="classpath:dataweave/normalization-aggregation.dwl" />
		</dw:transform-message>
	</flow>

</mule>
